<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <div>
            
            <h3>Species: <%= indyAnimal.species%></h3>
            
            <h3>Location: <%= indyAnimal.location %></h3>
            <h4>Life Expectancy: <%= indyAnimal.lifeExpectancy %></h4>
            <h4><%=indyAnimal.extinct ? "No Longer Alive" : "Still Living" %></h4>
            <a href="/animals/<%= indyAnimal._id %>/edit"><button>Edit</button></a>
            <form action="/animals/<%= indyAnimal._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            <a href="/animals"><button>Back to Main</button></a>
        </div>
    </main>
</body>
</html>